.inputField {
  display: block;
  text-align: center;
}

.inputField input {
  width: 200px;
  border-radius: 10px;
  padding: 10px 15px;
}

button {
  padding: 10px 100px;
  border-radius: 15px;
  margin: 50px auto;
}

@keyframes fade {
  from {
    background-color: white;
  }
  to {
    background-color: lightgray;
  }
}

button:hover {
  animation-name: fade;
  animation-duration: 100ms;
  background-color: lightgray;
  cursor: pointer;
}

label {
  font-weight: bold;
  padding: 15px;
}

.messageField {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.error {
  color: red;
  padding: 5px;
}
