<form #loginForm="ngForm" (ngSubmit)="submitHandler()">
    <!-- Email -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel email required #emailInput="ngModel"/>
    </div>

    <!-- Email error message -->
    <div *ngIf="emailInput.touched">
        <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
        <div *ngIf="emailInput.errors?.['email']">Email is not valid!</div>
    </div>
    

    <!-- Password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input 
        type="password"
        id="password" 
        name="password" 
        ngModel 
        #passwordInput="ngModel" 
        />
    </div>

   
    
    <button>Login</button>
</form>