nav > .button {
    max-width: fit-content;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

@keyframes fade {
    from {background-color: lightgray; color: black}
    to {background-color: darkgray; color: white;}
  }

nav > .button:hover {
    background-color: darkgray;
    color: white;
    animation-name: fade;
    animation-duration: 100ms;
    cursor: pointer;
} 

@keyframes message-box-slide {
    from {
        height: 0px; 
        background-color: white;
    }
    to {
        height: 15px;
        background-color: lightgray;
    }
}

.message-box {
    color: black;
    padding: 15px 25px;
    text-align: center;
    animation-name: message-box-slide;
    border-radius: 10px;
    animation-duration: 200ms;
    background-color: lightgray;
    width: fit-content;
    margin: 0 auto;
}

.message-box:hover {
    cursor: pointer;
}

nav > div {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} 

.active-link {
    background-color: lightgray;
}