nav > .button {
    max-width: fit-content;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

@keyframes fade {
    from {background-color: lightgray; color: black}
    to {background-color: darkgray; color: white;}
  }

nav > .button:hover {
    background-color: darkgray;
    color: white;
    animation-name: fade;
    animation-duration: 100ms;
} 