
.card {    
    max-width: 300px;
    display: inline-block;
    border-radius: 32px;
    padding: 10px;
    text-align: left;
    background-color: lightgray;    
    margin: 10px;
    padding-bottom: 30px;
}

@keyframes fade {
    from {background-color: lightgray; color: black}
    to {background-color: darkgray; color: white;}
  }

.card:hover {
    background-color: darkgray;
    color: white;
    animation-name: fade;
    animation-duration: 100ms;   
    cursor: pointer;  
}

.card div {
    padding: 2px;
}

span {
    font-weight: bold;
}

h1 {
    text-align: center;
}

#content {
    max-height: 250px;
    overflow: hidden;
}

h1 {
    overflow: hidden;
}

#Author {
    overflow: hidden;
} 