<div *ngIf="isLoading" class="loader">Loading poem...</div>

<div class="view-poem" *ngIf="!editingPoem">
  <div class="controls">
    <button
      *ngIf="poem._ownerId == loggedInUser"
      class="button"
      class="inputField"
      (click)="deletePoem()"
    >
      Delete Poem
    </button>
    <button
      *ngIf="poem._ownerId == loggedInUser"
      class="button"
      class="inputField"
      (click)="toggleEditing()"
    >
      Edit Poem
    </button>
  </div>

  <div class="poem" *ngIf="poem">
    <h1>{{ poem.title }}</h1>
    <h3>{{ poem.summary }}</h3>
    <h5>Written by: {{ poem.username }}</h5>
    <div class="content">{{ poem.content }}</div>
  </div>
</div>

<div class="edit-poem" *ngIf="editingPoem">
  <div class="controls">
    <button
      *ngIf="poem._ownerId == loggedInUser"
      class="button"
      class="inputField"
      (click)="editingPoem = false"
    >
      Cancel
    </button>
  </div>

  <form #editPoemForm="ngForm" (ngSubmit)="saveChanges()">
    <div class="form-group" class="inputField">
      <p>Poem title:</p>
      <input
        type="text"
        id="title"
        name="title"
        #poemTitleInput
        ngModel
        required
        minlength="3"
      />
    </div>

    <div class="form-group" class="inputField">
      <p>Poem summary:</p>
      <input
        type="text"
        id="summary"
        name="summary"
        #poemSummaryInput="ngModel"
        ngModel
        required
        minlength="3"
        [value]="poem.summary"
      />
    </div>

    <div class="form-group" class="inputField">
      <p>Poem:</p>
      <textarea
        type="text"
        id="content"
        name="content"
        #poemContentInput="ngModel"
        ngModel
        cols="30"
        rows="10"
        required
        [value]="poem.content"
      ></textarea>
    </div>

    <button class="inputField">Save changes</button>
  </form>
</div>
