p {
  text-align: center;
  line-height: 24px;
}

span {
  font-weight: bold;
}

span:hover {
  cursor: pointer;
}

div {
  margin: 0 auto;
  text-align: center;
}

.container {
  margin-top: 32px;
}

.highlight {
  background-color: lightgray;
  padding: 5px;
  border-radius: 8px;
}

.highlight:hover {
  background-color: lightgray;
  padding: 5px;
  border-radius: 8px;
  background-color: darkgray;
  color: white;
  transition-property: background-color;
  transition-duration: 100ms;
}
