<form #registerForm="ngForm" (ngSubmit)="submitHandler()">
  <!-- Email -->
  <div class="form-group" class="inputField">
    <p>Email:</p>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      email
      required
      #emailInput="ngModel"
    />
  </div>

  <!-- Email error message -->
  <div *ngIf="emailInput.touched" class="inputField error">
    <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
    <div *ngIf="emailInput.errors?.['email']">Email is not valid!</div>
  </div>

  <div class="form-group" class="inputField">
    <p>Username:</p>
    <input
      type="username"
      id="username"
      name="username"
      ngModel
      username
      required
      #usernameInput="ngModel"
      minlength="4"
      maxlength="20"
    />
    <div *ngIf="usernameInput.touched" class="error">
      <div *ngIf="usernameInput.errors?.['required']">Username is required!</div>
    </div>
  
    <div *ngIf="usernameInput.touched" class="error">
      <div *ngIf="usernameInput.errors?.['minlength']">
        Username must be 4 or more characters long!
      </div>
    </div>
    <div *ngIf="usernameInput.touched" class="error">
      <div *ngIf="usernameInput.errors?.['maxlength']">
        Username must be 16 characters at most!
      </div>
    </div>
  </div>

  

  <!-- Password -->
  <div class="form-group" class="inputField">
    <div class="inputField">
      <p>Password:</p>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        minlength="6"
        maxlength="32"
      />
    </div>
    <p class="error" *ngIf="passwordInput.errors?.['minlength']">
      Password must be at least
      {{passwordInput.errors?.['minlength']['requiredLength']}} characters!
    </p>
    <p class="error" *ngIf="passwordInput.errors?.['maxlength']">
      Password must be 32 characters at most!
    </p>

    <div *ngIf="passwordInput.touched" class="error">
      <div *ngIf="passwordInput.errors?.['required']">
        Password is required!
      </div>
    </div>

    <div class="inputField">
      <p>Repeat password:</p>
      <input
        type="password"
        id="rePassword"
        ngModel
        #rePasswordInput="ngModel"
        required
        name="rePassword"
      />
    </div>

    <div *ngIf="passwordInput.touched" class="error">
      <div *ngIf="!passwordInput.errors?.['matchPasswordsValidator']">
        Passwords must match!
      </div>
    </div>
  </div>

  <button class="inputField">Register</button>
</form>
